<p style="color: green"><%= notice %></p>

<h1>Papers</h1>

<div id="papers">
  <% @papers.each do |paper| %>
    <%= render paper %>
    <p>
      <%= link_to "Show this paper", paper %>
      <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
      <td><%= link_to 'Delete', paper_path(paper), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>

    </p>
  <% end %>
</div>

<%= link_to "New paper", new_paper_path %>
